@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 48, 255);
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.495);
    color: white;
    padding: 10px;
}